body {
  font-family: "Montserrat";
}
.container {
  width: 80%;
  margin: auto;
}
img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a {
  line-height: 1.4;
  letter-spacing: 1px;
}

header {
  background-color: #166683;
}
nav {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 0;
}

.logo {
  width: 170px;
  margin: auto 0;
}

header ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header ul li {
  margin: auto 12px;
}
header ul li a {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.cart {
  margin: auto 0;
}
.cart a i {
  color: white;
  font-size: 25px;
}

.sw-img {
  width: 80%;
  margin: auto;
}
.sw-img img {
  padding: 25px 0;
}

.sw {
  width: 720px;
}
h1 {
  color: #166683;
  font-size: 40px;
}
.stars {
  display: flex;
}
.stars p:first-child {
  margin-right: 20px;
}
.stars p {
  color: #166683;
  font-weight: 800;
  margin: auto 0;
}
.stars p i {
  font-size: 20px;
  margin: 0 1px;
  color: #4bb6dc;
}

.text ul li {
  color: #166683;
  list-style-type: disc;
  margin: 12px auto;
  font-size: 19px;
}

div.swiper-button-next,
div.swiper-button-prev {
  color: #4bb6dc;
  font-size: 10px;
}
div.swiper-button-next::after,
div.swiper-button-prev::after {
  font-size: 25px;
}

.cta {
  background-color: #e83c5a;
  width: 35%;
  border-radius: 10px;
  text-align: center;
  padding: 12px 12px;
  margin: 25px 0;
}

.cta a {
  color: white;
  font-size: 22px;
  font-weight: 800;
  text-align: center;
  padding: 15px 12px;
}

.price {
  color: #166683;
  font-weight: 800;
  font-size: 35px;
  margin: 15px 0;
}

.price span {
  color: gray;
  text-decoration: line-through;
}

.ingr {
  color: #166683;
}

.ingr-title {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  font-size: 22px;
}

.ingr-title p:last-child {
  text-align: right;
  font-weight: 800;
}

.ingr-text {
  display: none;
}

.ingr-title {
  border-bottom: 1px #166683 solid;
}

.ingr-title p {
  margin: 0;
  padding: 15px 0;
}
.hero {
  display: flex;
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  margin: 50px 0;
}

.sw {
  height: fit-content;
  width: 40%;
  position: sticky;
  z-index: 1;
  top: 5%;

  overflow-x: hidden;
}
.first-section {
  position: relative;
}

.text {
  width: 55%;
  margin-left: auto;
}

/* bullets */

.bullets {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.bullet {
  margin: auto;
}
.bullet img {
  width: 80px;
  height: 80px;
}
.bullet-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bullet p {
  font-weight: 500;
  color: #166683;
  text-align: center;
}

.bullets {
  position: unset;
}

/* comments */

.sw1-img {
  width: 90%;
  margin: auto;
}

.sw1-img img {
  border-radius: 15px;
}
.sw1-div {
  padding-bottom: 40px;
}
.sw1-div p {
  text-align: center;
  color: #166683;
  margin: 0;
}

.comments {
  background-color: #def0f8;
  padding-bottom: 25px;
}

.comments h3 {
  color: #166683;
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  padding: 25px;
}

.width-sw {
  width: 80%;
  margin: auto;
}

.name {
  margin-top: 15px !important;
  font-size: 20px;
  margin-bottom: 6px !important;
}

.center {
  margin: 25px auto;
  width: 25%;
}

/* delicious */

.delicious-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}
.delicious-text {
  margin: auto;
  color: #166683;
}
.delicious-text h3 {
  font-size: 25px;
  margin-top: 0;
}
.delicious {
  margin: 50px 0;
}
.delicious-img {
  width: 90%;
  margin: auto;
}

.packs-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 70%;
  gap: 25px;
  margin: auto;
}

.pack-img {
  width: 40%;
  margin: auto;
}

.packs {
  background-color: #f8f7f2;
  color: #166683;
  padding-bottom: 25px;
}

.packs h3 {
  text-align: center;
  font-size: 35px;
  padding: 25px;
}
.pack-title {
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}

.pack {
  text-align: center;
}
.center2 {
  margin: 25px auto;
  width: 15%;
}

/* 360grad */
.grad360 {
  background-image: unset;
  background: linear-gradient(0deg, #fff 10%, #a3d7ec 100%);
  color: #166683;
}

.white {
  background-color: white;
}

.grad-flex {
  display: flex;
}

.grad360 h3 {
  text-align: center;
  font-size: 35px;
  padding-top: 25px;
  margin-top: 0;
}
.title {
  text-align: center;
}
.grad-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-weight: 500;
}
.grad-text:first-child {
  text-align: right;
}

.grad-text:first-child p {
  width: 50%;
  margin-left: auto;
}

.grad-text:last-child {
  text-align: left;
}

.grad-text:last-child p {
  width: 50%;
  margin-right: auto;
}

.white {
  padding: 35px;
  border-radius: 15px;
  background: linear-gradient(45deg, #fff 30%, #a3d7ec 80%);
  font-size: 20px;
  font-weight: 900;
  margin: 0;
}

.reviews {
  background-color: #def0f8;
  color: #166683;
  padding-bottom: 35px;
}

.reviews h3 {
  font-size: 25px;
  padding-top: 25px;
}

.reviews-div {
  width: 70%;
  margin: auto;
}
.reviews-div p {
  margin-top: 0;
}
.reviews-div p i {
  font-size: 25px;
}

.review p i {
  font-size: 18px;
}

.review p {
  margin: 0;
}
.review {
  padding: 15px 0;
}

/* Pagination links */
.pagination {
  margin: 10px 0;
}
.pagination p {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}

/* Style the active/current link */
.pagination p.active {
  background-color: #166683;
  color: white;
}

/* Add a grey background color on mouse-over */
.pagination p:hover:not(.active) {
  background-color: #ddd;
}

.second,
.third {
  display: none;
}

/* money */

.money {
  display: grid;
  grid-template-columns: 1fr 0.4fr;
  gap: 25px;
  margin: 25px auto;
  color: #166683;
}

.money-text {
  margin: auto;
}

.money-img {
  width: 70%;
  margin: auto;
}
.money-text h3 {
  font-size: 25px;
}


.container2{
    width: 70%;
    margin: auto;
}
.small{
    width: 20%;
}

/* FAQ */
.faq{
    background-color: #f8f7f2;
    border-radius: 25px;
    padding: 25px;
    color: #166683;
}

.faq h3{
    font-size: 25px;

}

.q{
    font-weight: 800;
    border-bottom: #166683 1px solid;
    padding: 10px 0;
    cursor: pointer;
}
.a{
    display: none;
}